---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<API_KEY>/38.8009,-120.0809?exclude=currently,minutely,hourly,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 607ms
      X-Forecast-Api-Calls:
      - '6'
      X-Response-Time:
      - 95.864ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.8009,"longitude":-120.0809,"timezone":"America/Los_Angeles","daily":{"summary":"Possible
        light snow today.","icon":"snow","data":[{"time":1583049600,"summary":"Possible
        light snow in the morning.","icon":"snow","sunriseTime":1583073180,"sunsetTime":1583114100,"moonPhase":0.23,"precipIntensity":0.0155,"precipIntensityMax":0.061,"precipIntensityMaxTime":1583075100,"precipProbability":0.56,"precipType":"snow","precipAccumulation":4.84,"temperatureHigh":23.49,"temperatureHighTime":1583104140,"temperatureLow":17.15,"temperatureLowTime":1583159100,"apparentTemperatureHigh":17.78,"apparentTemperatureHighTime":1583074800,"apparentTemperatureLow":3.61,"apparentTemperatureLowTime":1583159640,"dewPoint":17.47,"humidity":0.82,"pressure":1018.1,"windSpeed":9.51,"windGust":34.98,"windGustTime":1583136000,"windBearing":67,"cloudCover":0.75,"uvIndex":3,"uvIndexTime":1583095260,"visibility":5.05,"ozone":383.6,"temperatureMin":19.04,"temperatureMinTime":1583132400,"temperatureMax":26.33,"temperatureMaxTime":1583049600,"apparentTemperatureMin":5.25,"apparentTemperatureMinTime":1583136000,"apparentTemperatureMax":24.28,"apparentTemperatureMaxTime":1583060460},{"time":1583136000,"summary":"Clear
        throughout the day.","icon":"clear-day","sunriseTime":1583159460,"sunsetTime":1583200560,"moonPhase":0.26,"precipIntensity":0.0004,"precipIntensityMax":0.0023,"precipIntensityMaxTime":1583137680,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.15,"temperatureHigh":37.03,"temperatureHighTime":1583189880,"temperatureLow":25.82,"temperatureLowTime":1583231520,"apparentTemperatureHigh":28.01,"apparentTemperatureHighTime":1583[...]
