---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<API_KEY>/38.8009,-120.0809?exclude=currently,minutely,hourly,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 113ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 65.145ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.8009,"longitude":-120.0809,"timezone":"America/Los_Angeles","daily":{"summary":"Possible
        light snow today.","icon":"snow","data":[{"time":1583049600,"summary":"Possible
        light snow in the morning.","icon":"snow","sunriseTime":1583073180,"sunsetTime":1583114100,"moonPhase":0.23,"precipIntensity":0.0154,"precipIntensityMax":0.061,"precipIntensityMaxTime":1583075100,"precipProbability":0.56,"precipType":"snow","precipAccumulation":4.83,"temperatureHigh":23.49,"temperatureHighTime":1583104140,"temperatureLow":17.09,"temperatureLowTime":1583159340,"apparentTemperatureHigh":17.78,"apparentTemperatureHighTime":1583074800,"apparentTemperatureLow":3.43,"apparentTemperatureLowTime":1583159700,"dewPoint":17.42,"humidity":0.81,"pressure":1018.1,"windSpeed":9.45,"windGust":33.99,"windGustTime":1583136000,"windBearing":67,"cloudCover":0.75,"uvIndex":3,"uvIndexTime":1583095260,"visibility":5.083,"ozone":382.7,"temperatureMin":19.06,"temperatureMinTime":1583133000,"temperatureMax":26.33,"temperatureMaxTime":1583049600,"apparentTemperatureMin":5.69,"apparentTemperatureMinTime":1583136000,"apparentTemperatureMax":24.28,"apparentTemperatureMaxTime":1583060460},{"time":1583136000,"summary":"Clear
        throughout the day.","icon":"clear-day","sunriseTime":1583159460,"sunsetTime":1583200560,"moonPhase":0.26,"precipIntensity":0.0002,"precipIntensityMax":0.0014,"precipIntensityMaxTime":1583175600,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.06,"temperatureHigh":36.47,"temperatureHighTime":1583192880,"temperatureLow":25.83,"temperatureLowTime":1583232060,"apparentTemperatureHigh":27.32,"apparentTemperatureHighTime":1583[...]
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0//forecast/daily?days=8&key=<API_KEY>&lat=38.8009&lon=-120.0809&units=I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '973'
      X-Ratelimit-Reset:
      - '1583163243'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"moonrise_ts":1583086324,"wind_cdir":"ENE","rh":82,"pres":768.576,"high_temp":16.1,"sunset_ts":1583114039,"ozone":398.407,"moon_phase":0.559818,"wind_gust_spd":45.2,"snow_depth":9.673,"clouds":36,"ts":1583049660,"sunrise_ts":1583073034,"app_min_temp":3.6,"wind_spd":21.3,"pop":0,"wind_cdir_full":"east-northeast","slp":1022.56,"valid_date":"2020-03-01","app_max_temp":7.5,"vis":15,"dewpt":12.7,"snow":0,"uv":0.564749,"weather":{"icon":"c02d","code":802,"description":"Scattered
        clouds"},"wind_dir":66,"max_dhi":null,"clouds_hi":0,"precip":0,"low_temp":12.8,"max_temp":21.8,"moonset_ts":1583056077,"datetime":"2020-03-01","temp":17.3,"min_temp":16.4,"clouds_mid":0,"clouds_low":36},{"moonrise_ts":1583174872,"wind_cdir":"ENE","rh":64,"pres":770.622,"high_temp":31,"sunset_ts":1583200505,"ozone":327.781,"moon_phase":0.66591,"wind_gust_spd":56.1,"snow_depth":9.673,"clouds":10,"ts":1583136060,"sunrise_ts":1583159343,"app_min_temp":-0.9,"wind_spd":17.7,"pop":0,"wind_cdir_full":"east-northeast","slp":1022.81,"valid_date":"2020-03-02","app_max_temp":21.9,"vis":15,"dewpt":10.7,"snow":0,"uv":5.17449,"weather":{"icon":"c02d","code":801,"description":"Few
        clouds"},"wind_di[...]
