---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0//forecast/daily?days=8&key=<API_KEY>&lat=38.8009&lon=-120.0809&units=I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '974'
      X-Ratelimit-Reset:
      - '1583163243'
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"moonrise_ts":1583086324,"wind_cdir":"ENE","rh":82,"pres":768.576,"high_temp":16.1,"sunset_ts":1583114039,"ozone":398.407,"moon_phase":0.559818,"wind_gust_spd":45.2,"snow_depth":9.673,"clouds":36,"ts":1583049660,"sunrise_ts":1583073034,"app_min_temp":3.6,"wind_spd":21.3,"pop":0,"wind_cdir_full":"east-northeast","slp":1022.56,"valid_date":"2020-03-01","app_max_temp":7.5,"vis":15,"dewpt":12.7,"snow":0,"uv":0.564749,"weather":{"icon":"c02d","code":802,"description":"Scattered
        clouds"},"wind_dir":66,"max_dhi":null,"clouds_hi":0,"precip":0,"low_temp":12.8,"max_temp":21.8,"moonset_ts":1583056077,"datetime":"2020-03-01","temp":17.3,"min_temp":16.4,"clouds_mid":0,"clouds_low":36},{"moonrise_ts":1583174872,"wind_cdir":"ENE","rh":64,"pres":770.622,"high_temp":31,"sunset_ts":1583200505,"ozone":327.781,"moon_phase":0.66591,"wind_gust_spd":56.1,"snow_depth":9.673,"clouds":10,"ts":1583136060,"sunrise_ts":1583159343,"app_min_temp":-0.9,"wind_spd":17.7,"pop":0,"wind_cdir_full":"east-northeast","slp":1022.81,"valid_date":"2020-03-02","app_max_temp":21.9,"vis":15,"dewpt":10.7,"snow":0,"uv":5.17449,"weather":{"icon":"c02d","code":801,"description":"Few
        clouds"},"wind_di[...]
