---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DS_API_KEY>/38.8009,-120.0809?exclude=currently,minutely,hourly,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 539ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 73.246ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.8009,"longitude":-120.0809,"timezone":"America/Los_Angeles","daily":{"summary":"Possible
        light snow on Saturday and next Monday.","icon":"snow","data":[{"time":1583136000,"summary":"Clear
        throughout the day.","icon":"clear-day","sunriseTime":1583159460,"sunsetTime":1583200560,"moonPhase":0.26,"precipIntensity":0.001,"precipIntensityMax":0.0027,"precipIntensityMaxTime":1583174880,"precipProbability":0.12,"precipType":"snow","precipAccumulation":0.21,"temperatureHigh":37.18,"temperatureHighTime":1583186220,"temperatureLow":27.82,"temperatureLowTime":1583247420,"apparentTemperatureHigh":28.5,"apparentTemperatureHighTime":1583186220,"apparentTemperatureLow":20.68,"apparentTemperatureLowTime":1583247360,"dewPoint":11.92,"humidity":0.53,"pressure":1020.7,"windSpeed":12.81,"windGust":30.4,"windGustTime":1583193600,"windBearing":80,"cloudCover":0.11,"uvIndex":5,"uvIndexTime":1583180340,"visibility":10,"ozone":328.5,"temperatureMin":17.68,"temperatureMinTime":1583154480,"temperatureMax":37.18,"temperatureMaxTime":1583186220,"apparentTemperatureMin":4.76,"apparentTemperatureMinTime":1583157540,"apparentTemperatureMax":28.5,"apparentTemperatureMaxTime":1583186220},{"time":1583222400,"summary":"Clear
        throughout the day.","icon":"clear-day","sunriseTime":1583245800,"sunsetTime":1583287020,"moonPhase":0.3,"precipIntensity":0.0002,"precipIntensityMax":0.0016,"precipIntensityMaxTime":1583222400,"precipProbability":0.1,"precipType":"snow","precipAccumulation":0.02,"temperatureHigh":50.46,"temperatureHighTime":1583275620,"temperatureLow":33.21,"temperatureLowTime":1583330340,"apparentTemperatureHigh":47.88,"apparentTemperatureHighTime":158327[...]
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/forecast/daily?days=8&key=<WB_API_KEY>&lat=38.8009&lon=-120.0809&units=I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '953'
      X-Ratelimit-Reset:
      - '1583258644'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"moonrise_ts":1583174872,"wind_cdir":"ENE","rh":60,"pres":770.547,"high_temp":31,"sunset_ts":1583200505,"ozone":328.152,"moon_phase":0.66591,"wind_gust_spd":56.4,"snow_depth":8.106,"clouds":5,"ts":1583136060,"sunrise_ts":1583159343,"app_min_temp":0.9,"wind_spd":18.5,"pop":0,"wind_cdir_full":"east-northeast","slp":1021.27,"valid_date":"2020-03-02","app_max_temp":21.9,"vis":15,"dewpt":11.7,"snow":0,"uv":5.73069,"weather":{"icon":"c02d","code":801,"description":"Few
        clouds"},"wind_dir":64,"max_dhi":null,"clouds_hi":0,"precip":0,"low_temp":23.6,"max_temp":31.1,"moonset_ts":1583146102,"datetime":"2020-03-02","temp":24.4,"min_temp":12.9,"clouds_mid":0,"clouds_low":5},{"moonrise_ts":1583263827,"wind_cdir":"E","rh":66,"pres":774.142,"high_temp":43.6,"sunset_ts":1583286970,"ozone":315.422,"moon_phase":0.767584,"wind_gust_spd":21,"snow_depth":8.106,"clouds":2,"ts":1583222460,"sunrise_ts":1583245652,"app_min_temp":14.3,"wind_spd":6.8,"pop":0,"wind_cdir_full":"east","slp":1020.86,"valid_date":"2020-03-03","app_max_temp":37.7,"vis":15,"dewpt":23.3,"snow":0,"uv":5.72169,"weather":{"icon":"c02d","code":801,"description":"Few
        clouds"},"wind_dir":83,"max_dhi[...]
